<div class="sidebar">
    <ul>
        <li class="list-group-item">
            <a href="/controle-de-ponto"><i class="fa-regular fa-clock px-2"></i>  Controle de Ponto</a>
        </li>
        <li class="list-group-item">
            <a href="/"><i class="fa-regular fa-calendar px-2"></i> Meu Ponto</a>
        </li>
        <li class="list-group-item">
            <a href="/relatorios"><i class="fa-regular fa-file-lines px-2"></i> Relatórios</a>
        </li>
        <li class="list-group-item">
            <a href="/colaboradores"><i class="fa-solid fa-users px-2"></i> Colaboradores</a>
        </li>
    </ul>

    <div>
        <ul>
            <li class="list-group-item">
                <a href="#colaboradores"><i class="fa-solid fa-gear px-2"></i> Configurações</a>
            </li>
        </ul>
    </div>
</div>
