@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-color: #7F8C8D;
}

.container-main{
    width: 100%;
    height: auto;
    min-height: 600px;
    background-color: #ECF0F1;
    border-radius: 12px;
    padding: 12px;

}